body {
    background-color: #def2e8;
    font-family: 'Audiowide', cursive;
    font-family: 'Oswald', sans-serif;
}

.jumbotron {
    /* height: 50%; */
    height: 200px;
    background-image: url(https://user-images.githubusercontent.com/105233531/173449202-f060133e-db1d-4331-81fc-983e530c6a22.png);
    background-size: auto;
    background-position: center;
  }


.app-header {
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-container {
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.events-container {
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.active-event {
  color: blue;
}

.restaurants-container,
.restaurant-info {
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}
